<!-- BOX FOR POST CREATION -->

<div class="post-creation-container">
    <form method="post" asp-controller="Post" asp-action="Post">
        <input type="text" name="text" maxlength="280" placeholder="Type here...">
        <button type="submit"> Post </button>
    </form>
</div>