@using MicroVerse.ViewModels;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model string


@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <form method="post" asp-action="SetUserRole" asp-controller="User">
        <select name="cars" id="role" value="@Model.Split(",")[1]">
            <option value="Admin">Administrator</option>
            <option value="Moderator">Moderator</option>
            <option value="User">User</option>
        </select>
        <input type="hidden" name="userId" value="@Model.Split(",")[0]" />
        <button type="submit" onclick="refreshPage();" class="follow-button">Save</button>
    </form>
}
