@{
    ViewData["Title"] = "Home Page";
}
@using MicroVerse.ViewModels
@model HomeViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

     @if (SignInManager.IsSignedIn(User))
{
    <!-- Side Follow-List-->
    <div class="sidebar">
        @if (Model.Follows.Count == 0)
        {
            <p>You are not following anyone yet.</p>
        }

        @foreach (var follow in Model.Follows)
        {
            <a href="/Home/Profile/@follow.UserName">
                <img class="profile-picture" src="https://picsum.photos/200/200" height="35" width="35" />
                @follow.DisplayedName
            </a>
        }
        @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
        {

            <form method="post" asp-controller="Post" asp-action="" asp-route-id="">
                <button type="submit" class="delete-button">Create New User</button>
            </form>
        }
    </div>
}

<!-- Page content -->

<div class="main with-sidebar">
    <!-- Post creation container -->
    <partial name="_CreatePostPartial">

    <!--PostFeed-->
    <partial name="_PostFeed" for="@Model.Posts">
</div>
