@{
    ViewData["Title"] = "Personalized Feed";
}
@using MicroVerse.ViewModels
@model HomeViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager


<!-- HOME PAGE; VISIBLE TO ALL; CONTAINING PUBLIC FEED, FOR LOGGED IN USERS A SIDEBAR WITH FOLLOWED PROFILES-->

@if (SignInManager.IsSignedIn(User))
{
    <!-- Side Follow-List-->
    <div class="sidebar">
        @if (Model.Follows.Count == 0)
        {
            <p>You are not following anyone yet.</p>
        }

        @foreach (var follow in Model.Follows)
        {
            <a href="/Home/Profile/@follow.UserName">
                <img class="profile-picture" src="@follow.Picture" height="35" width="35" />
                @follow.DisplayedName
            </a>
        }
    </div>
}

<!-- Page content -->

<div class="main with-sidebar">
    <!-- Post creation container -->
    <partial name="_CreatePostPartial">

    <!--PostFeed all-->
    <partial name="_PostFeed" for="@Model.Posts">
</div>
