@{
    ViewData["Title"] = "Home Page";
}
@using MicroVerse.ViewModels
@model HomeViewModel

<!-- Side Follow-List-->
<div class="sidebar">
    @foreach (var follow in Model.Follows)
    {

        <a href="#"><img class="profile-picture" src="https://picsum.photos/200/200" height="35" width="35" /> @follow.DisplayedName</a>
    }
</div>

<!-- Page content -->

<div class="main with-sidebar">
    <!-- Post creation container -->

    <partial name="_CreatePostPartial">
    @*<div class="post-creation-container">
        <form method="post" asp-controller="Post" asp-action="PostPost">
            <input type="text" id="text" name="text" maxlength="280" placeholder="Type here..."></input>
            <!--input type="file" name="postFile"-->
            <button type="submit"> Post </button>
        </form>
    </div>*@

    <!--PostFeed-->
    <partial name="_PostFeed" for="@Model.Posts">
</div>
