@{
    ViewData["Title"] = "Home Page";
}
@using MicroVerse.ViewModels
@model HomeViewModel

<!-- Side Follow-List-->
<div class="sidebar">
    @foreach (var follow in Model.Follows)
    {
        <a href="/Home/Profile/@follow.UserName">
            <img class="profile-picture" src="https://picsum.photos/200/200" height="35" width="35" />
            @follow.DisplayedName
        </a>
    }
</div>

<!-- Page content -->

<div class="main with-sidebar">
    <!-- Post creation container -->
    <partial name="_CreatePostPartial">

    <!--PostFeed-->
    <partial name="_PostFeed" for="@Model.Posts">
</div>
