@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="~/js/grid.js" asp-append-version="true"></script>
}
<div class="col-6">
    <div class="white">
        <h2>Number of posts by user</h2>
        <canvas id="userPosting"></canvas>
    </div>
</div>
<div class="col-6">
    <div class="white">
        <h2>Most followed users</h2>
        <canvas id="mostFollowedUsers"></canvas>
    </div>
</div>
<div class="col-6">
    <div class="white">
        <h2>Most upvoted posts</h2>
        <canvas id="mostUpvotedPosts"></canvas>
    </div>
</div>