html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #b0ed97
}

.profile-picture {
    border-radius: 50px;
}

.navbar-brand {
    font-weight: 600;
    letter-spacing: 2px;
}



/* The sidebar menu */
.sidebar {
    /*height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #ffffff; /* white */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin: 89px 25px 0px 35px;
    padding: 20px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

    /* The navigation menu links */
    .sidebar a {
        padding: 6px 8px 6px 6px;
        text-decoration: none;
        font-size: 20px;
        color: #000000;
        display: flex;
    }

        .sidebar a img {
            margin: 0 10px 0 0;
        }

        /* When you mouse over the navigation links, change their color */
        .sidebar a:hover {
            color: #ffffff;
            background-color: #43802a
        }

/* Style page content */
.main {
    padding: 20px;
}

.with-sidebar {
    margin-left: 250px; /* Same as the width of the sidebar */
}

.main .post-containter {
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

    .main .post-containter .post-actions{
        display:flex ;
    }

    .main .post-containter .post-actions button{
        border: none;
        border-radius: 4px;
        margin:2px;
    }

    .main .post-author {
        color: #43802a;
        text-decoration: none;
        font-weight: 600;
    }

.main .post-react {
}

    .main .post-react button {
        padding: 5px 15px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        height: 36px;
    }

    .main .post-react input[type=text] {
        border: 1px solid #ccc;
        border-radius: 2px;
        height: 36px;
    }

    .main .post-react form {
        display: grid;
        grid-template-columns: auto max-content;
        gap: 10px;
    }

.main div.info {
    padding: 2px;
    background-color: lightgray;
    border-radius: 5px;
}

.main div.info p{
    margin:0;
}

.main i.fa-circle-up {
    color: green;
    padding: 2px;
}
.main i.fa-circle-up.unactive{
    color: gray;
}

.main button.btn-upvoted {
    background-color: lightgreen;
}

.main i.fa-circle-down {
    color: red;
    padding: 2px;
}

.main button.btn-downvoted {
    background-color: lightcoral;
}

.main button.flagged {
    background-color: lightblue;
}



.main .fa-flag {
    padding: 2px;
    color: black;
}
.main .fa-font-awesome {
    color: blue;
    padding: 2px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}
/* Search container style*/
.search-container {
    float: right;
    margin-top: 2px;
}

input[type=text] {
    padding: 6px;
    font-size: 16px;
    border: #dddddd;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .search-container button:hover {
        background: #b0ed97;
    }



/* Post creation container style */
.post-creation-container {
    background-color: white;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.4);
}

    .post-creation-container textarea {
        border: 1px solid #ccc;
        padding: 20px;
        margin-bottom: 15px;
        border-radius: 2px;
    }

    .post-creation-container form {
        display: flex;
        flex-direction: column;
    }

    .post-creation-container button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: #fff;
        border: none;
        border-radius: 3px;
        margin-top: 15px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
    }

        .post-creation-container button:hover {
            background-color: #45a049;
        }

/* Profile style */
.profile-header {
    display: flex;
    align-items: center;
}

.profile-picture {
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.profile-header h1 {
    margin-bottom: 5px;
    margin: 0;
}

h2 {
    font-size: 20px;
}

.follow-counts {
    align-items: center;
    margin-top: 10px;
    margin-left: 50px;
}

    .follow-counts p {
        margin: 0;
        margin-left: 10px;
    }

/* Searched profile style */
.searched-profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.searched-style {
    display: flex;
    align-items: center;
}

.searched-profile img {
    margin-right: 10px;
}

.follow-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

    .follow-button form {
        display: flex;
        align-items: center;
    }

.delete-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}


/* Moderation page */
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.user-details {
    display: flex;
    align-items: center;
}

    .user-details h3 {
        margin-left: 10px;
    }

.user-moderation {
    display: flex;
    align-items: center;
}

    .user-moderation button {
        margin-left: 10px;
    }

        .user-moderation button:first-child {
            margin-right: 5px;
        }

.create-user-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
h4 {
    font-size: 30px;
    text-align: center;
}